# Maven
/target/
/site/
/surefire-reports/
/jacoco.exec
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/release.properties
/dependency-reduced-pom.xml

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db